<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="DotNetZip" version="1.13.8" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="LottieSharp" version="1.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Desktop" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
  <package id="Z.EntityFramework.Extensions" version="4.0.75" targetFramework="net472" />
</packages>